$tertiary-50: #faf8fd;
$tertiary-100: #e8daf4;
$tertiary-200: #d1b5e9;
$tertiary-300: #bb90de;
$tertiary-400: #a46bd3;
$tertiary-500: #904bc9;
$tertiary-600: #7b36b5;
$tertiary-700: #652c94;
$tertiary-800: #4f2374;
$tertiary-900: #391954;
$tertiary-alpha-10: rgba(164, 107, 211, 0.1);
$tertiary-alpha-20: rgba(164, 107, 211, 0.2);
$tertiary-alpha-30: rgba(164, 107, 211, 0.3);
$tertiary-alpha-40: rgba(164, 107, 211, 0.4);
$tertiary-alpha-50: rgba(164, 107, 211, 0.5);
