$primitive-black-100: #cccccc;
$primitive-black-200: #b2b2b2;
$primitive-black-300: #999999;
$primitive-black-400: #808080;
$primitive-black-500: #666666;
$primitive-black-600: #4d4d4d;
$primitive-black-700: #333333;
$primitive-black-800: #1a1a1a;
$primitive-black-900: #000000;
$primitive-black-alpha-10: rgba(0, 0, 0, 0.1);
$primitive-black-alpha-20: rgba(0, 0, 0, 0.2);
$primitive-black-alpha-40: rgba(0, 0, 0, 0.4);
$primitive-black-alpha-60: rgba(0, 0, 0, 0.6);
$primitive-black-alpha-80: rgba(0, 0, 0, 0.8);
