$blue-100: #cee8ff;
$blue-200: #9dd0ff;
$blue-300: #6cb9fe;
$blue-400: #3ba2fe;
$blue-500: #0a8afe;
$blue-600: #0171d6;
$blue-700: #015db0;
$blue-800: #01498b;
$blue-900: #003565;
$blue-alpha-10: rgba(1, 113, 214, 0.1);
$blue-alpha-20: rgba(1, 113, 214, 0.2);
$blue-alpha-30: rgba(1, 113, 214, 0.3);
$blue-alpha-40: rgba(1, 113, 214, 0.4);
$blue-alpha-50: rgba(1, 113, 214, 0.5);
