$primitive-blue-100: #cee8ff;
$primitive-blue-200: #9dd0ff;
$primitive-blue-300: #6cb9fe;
$primitive-blue-400: #3ba2fe;
$primitive-blue-500: #0a8afe;
$primitive-blue-600: #0171d6;
$primitive-blue-700: #015db0;
$primitive-blue-800: #01498b;
$primitive-blue-900: #003565;
$primitive-blue-alpha-10: rgba(1, 113, 214, 0.1);
$primitive-blue-alpha-20: rgba(1, 113, 214, 0.2);
$primitive-blue-alpha-30: rgba(1, 113, 214, 0.3);
$primitive-blue-alpha-40: rgba(1, 113, 214, 0.4);
$primitive-blue-alpha-50: rgba(1, 113, 214, 0.5);
