$font-size-xs: $unit-10;
$font-size-s: $unit-12;
$font-size-m: $unit-14;
$font-size-l: $unit-16;
$font-size-xl: $unit-18;
$font-size-2xl: $unit-20;
$font-size-3xl: $unit-24;
$font-size-4xl: $unit-28;
$font-size-5xl: $unit-32;
$font-size-6xl: $unit-40;
$font-size-7xl: $unit-48;
$font-size-8xl: $unit-56;
$font-size-9xl: $unit-64;
$font-size-10xl: $unit-72;
