$primitive-grey-100: #e4e4e4;
$primitive-grey-200: #cacaca;
$primitive-grey-300: #afafaf;
$primitive-grey-400: #959595;
$primitive-grey-500: #7a7a7a;
$primitive-grey-600: #686868;
$primitive-grey-700: #565656;
$primitive-grey-800: #434343;
$primitive-grey-900: #313131;
$primitive-grey-alpha-10: rgba(122, 122, 122, 0.1);
$primitive-grey-alpha-20: rgba(122, 122, 122, 0.2);
$primitive-grey-alpha-30: rgba(122, 122, 122, 0.3);
$primitive-grey-alpha-40: rgba(122, 122, 122, 0.4);
$primitive-grey-alpha-50: rgba(122, 122, 122, 0.5);
