$green-100: #dcf2e3;
$green-200: #b9e6c7;
$green-300: #96d9ab;
$green-400: #73cd8f;
$green-500: #4fc074;
$green-600: #3ba55d;
$green-700: #31884d;
$green-800: #266b3c;
$green-900: #1c4d2c;
$green-alpha-10: rgba(59, 165, 93, 0.1);
$green-alpha-20: rgba(59, 165, 93, 0.2);
$green-alpha-30: rgba(59, 165, 93, 0.3);
$green-alpha-40: rgba(59, 165, 93, 0.4);
$green-alpha-50: rgba(59, 165, 93, 0.5);
