$grey-100: #e4e4e4;
$grey-200: #cacaca;
$grey-300: #afafaf;
$grey-400: #959595;
$grey-500: #7a7a7a;
$grey-600: #686868;
$grey-700: #565656;
$grey-800: #434343;
$grey-900: #313131;
$grey-alpha-10: rgba(122, 122, 122, 0.1);
$grey-alpha-20: rgba(122, 122, 122, 0.2);
$grey-alpha-30: rgba(122, 122, 122, 0.3);
$grey-alpha-40: rgba(122, 122, 122, 0.4);
$grey-alpha-50: rgba(122, 122, 122, 0.5);
