$primitive-green-100: #dcf2e3;
$primitive-green-200: #b9e6c7;
$primitive-green-300: #96d9ab;
$primitive-green-400: #73cd8f;
$primitive-green-500: #4fc074;
$primitive-green-600: #3ba55d;
$primitive-green-700: #31884d;
$primitive-green-800: #266b3c;
$primitive-green-900: #1c4d2c;
$primitive-green-alpha-10: rgba(59, 165, 93, 0.1);
$primitive-green-alpha-20: rgba(59, 165, 93, 0.2);
$primitive-green-alpha-30: rgba(59, 165, 93, 0.3);
$primitive-green-alpha-40: rgba(59, 165, 93, 0.4);
$primitive-green-alpha-50: rgba(59, 165, 93, 0.5);
