$primitive-orange-100: #fbe0ca;
$primitive-orange-200: #f8c196;
$primitive-orange-300: #f4a261;
$primitive-orange-400: #f18c3c;
$primitive-orange-500: #ef7717;
$primitive-orange-600: #d0640e;
$primitive-orange-700: #ab520c;
$primitive-orange-800: #864109;
$primitive-orange-900: #622f07;
$primitive-orange-alpha-10: rgba(244, 162, 97, 0.1);
$primitive-orange-alpha-20: rgba(244, 162, 97, 0.2);
$primitive-orange-alpha-30: rgba(244, 162, 97, 0.3);
$primitive-orange-alpha-40: rgba(244, 162, 97, 0.4);
$primitive-orange-alpha-50: rgba(244, 162, 97, 0.5);
