$primary-100: #cee8ff;
$primary-200: #9dd0ff;
$primary-300: #6cb9fe;
$primary-400: #3ba2fe;
$primary-500: #0a8afe;
$primary-600: #0171d6;
$primary-700: #015db0;
$primary-800: #01498b;
$primary-900: #003565;
$primary-alpha-10: rgba(1, 113, 214, 0.1);
$primary-alpha-20: rgba(1, 113, 214, 0.2);
$primary-alpha-30: rgba(1, 113, 214, 0.3);
$primary-alpha-40: rgba(1, 113, 214, 0.4);
$primary-alpha-50: rgba(1, 113, 214, 0.5);
