$red-100: #f7dada;
$red-200: #efb5b5;
$red-300: #e68f8f;
$red-400: #de6a6a;
$red-500: #d64545;
$red-600: #c52b2b;
$red-700: #a22424;
$red-800: #7e1c1c;
$red-900: #5b1414;
$red-alpha-10: rgba(214, 69, 69, 0.1);
$red-alpha-20: rgba(214, 69, 69, 0.2);
$red-alpha-30: rgba(214, 69, 69, 0.3);
$red-alpha-40: rgba(214, 69, 69, 0.4);
$red-alpha-50: rgba(214, 69, 69, 0.5);
