$primitive-red-100: #f7dada;
$primitive-red-200: #efb5b5;
$primitive-red-300: #e68f8f;
$primitive-red-400: #de6a6a;
$primitive-red-500: #d64545;
$primitive-red-600: #c52b2b;
$primitive-red-700: #a22424;
$primitive-red-800: #7e1c1c;
$primitive-red-900: #5b1414;
$primitive-red-alpha-10: rgba(214, 69, 69, 0.1);
$primitive-red-alpha-20: rgba(214, 69, 69, 0.2);
$primitive-red-alpha-30: rgba(214, 69, 69, 0.3);
$primitive-red-alpha-40: rgba(214, 69, 69, 0.4);
$primitive-red-alpha-50: rgba(214, 69, 69, 0.5);
