$secondary-100: #deeee4;
$secondary-200: #beddca;
$secondary-300: #9dccaf;
$secondary-400: #7dbb95;
$secondary-500: #5caa7a;
$secondary-600: #4c9267;
$secondary-700: #3f7855;
$secondary-800: #315e43;
$secondary-900: #244530;
$secondary-alpha-10: rgba(92, 170, 122, 0.1);
$secondary-alpha-20: rgba(92, 170, 122, 0.2);
$secondary-alpha-30: rgba(92, 170, 122, 0.3);
$secondary-alpha-40: rgba(92, 170, 122, 0.4);
$secondary-alpha-50: rgba(92, 170, 122, 0.5);
