$primitive-secondary-100: #deeee4;
$primitive-secondary-200: #beddca;
$primitive-secondary-300: #9dccaf;
$primitive-secondary-400: #7dbb95;
$primitive-secondary-500: #5caa7a;
$primitive-secondary-600: #4c9267;
$primitive-secondary-700: #3f7855;
$primitive-secondary-800: #315e43;
$primitive-secondary-900: #244530;
$primitive-secondary-alpha-10: rgba(92, 170, 122, 0.1);
$primitive-secondary-alpha-20: rgba(92, 170, 122, 0.2);
$primitive-secondary-alpha-30: rgba(92, 170, 122, 0.3);
$primitive-secondary-alpha-40: rgba(92, 170, 122, 0.4);
$primitive-secondary-alpha-50: rgba(92, 170, 122, 0.5);
