$primitive-tertiary-50: #faf8fd;
$primitive-tertiary-100: #e8daf4;
$primitive-tertiary-200: #d1b5e9;
$primitive-tertiary-300: #bb90de;
$primitive-tertiary-400: #a46bd3;
$primitive-tertiary-500: #904bc9;
$primitive-tertiary-600: #7b36b5;
$primitive-tertiary-700: #652c94;
$primitive-tertiary-800: #4f2374;
$primitive-tertiary-900: #391954;
$primitive-tertiary-alpha-5: rgba(164, 107, 211, 0.05);
$primitive-tertiary-alpha-10: rgba(164, 107, 211, 0.1);
$primitive-tertiary-alpha-20: rgba(164, 107, 211, 0.2);
$primitive-tertiary-alpha-30: rgba(164, 107, 211, 0.3);
$primitive-tertiary-alpha-40: rgba(164, 107, 211, 0.4);
$primitive-tertiary-alpha-50: rgba(164, 107, 211, 0.5);
