$primitive-unit-0: 0;
$primitive-unit-1: 1;
$primitive-unit-2: 2;
$primitive-unit-4: 4;
$primitive-unit-8: 8;
$primitive-unit-10: 10;
$primitive-unit-12: 12;
$primitive-unit-14: 14;
$primitive-unit-16: 16;
$primitive-unit-18: 18;
$primitive-unit-20: 20;
$primitive-unit-24: 24;
$primitive-unit-26: 26;
$primitive-unit-28: 28;
$primitive-unit-32: 32;
$primitive-unit-36: 36;
$primitive-unit-40: 40;
$primitive-unit-48: 48;
$primitive-unit-56: 56;
$primitive-unit-64: 64;
$primitive-unit-72: 72;
$primitive-unit-80: 80;
$primitive-unit-88: 88;
$primitive-unit-96: 96;
$primitive-unit-104: 104;
$primitive-unit-112: 112;
$primitive-unit-120: 120;
$primitive-unit-0o5: 0.5;
$primitive-unit-1o5: 1.5;
