$primitive-white-10: rgba(255, 255, 255, 0.1);
$primitive-white-20: rgba(255, 255, 255, 0.2);
$primitive-white-30: rgba(255, 255, 255, 0.3);
$primitive-white-40: rgba(255, 255, 255, 0.4);
$primitive-white-50: rgba(255, 255, 255, 0.5);
$primitive-white-60: rgba(255, 255, 255, 0.6);
$primitive-white-70: rgba(255, 255, 255, 0.7);
$primitive-white-80: rgba(255, 255, 255, 0.8);
$primitive-white-90: rgba(255, 255, 255, 0.9);
$primitive-white-100: #ffffff;
