@import '../primitive/primitive.css';

--color-text-primary: var(--color-Black-800);
--color-text-secondary: var(--color-Black-700);
--color-text-tertiary: var(--color-Black-600);
--color-text-primary-inverse: var(--color-White-100);
--color-text-secondary-inverse: var(--color-Black-100);
--color-text-tertiary-inverse: var(--color-Black-200);
--color-text-link: var(--color-Blue-500);
--color-text-link-hover: var(--color-Blue-600);
--color-text-link-pressed: var(--color-Blue-700);
--color-text-brand: var(--color-Primary-500);
--color-text-brand-hovered: var(--color-Primary-600);
--color-text-brand-pressed: var(--color-Primary-700);
--color-text-negative: var(--color-Red-500);
--color-text-negative-hover: var(--color-Red-700);
--color-text-negative-pressed: var(--color-Red-900);
--color-text-positive: var(--color-Green-700);
--color-text-positive-hover: var(--color-Green-800);
--color-text-positive-pressed: var(--color-Green-900);
--color-text-warning: var(--color-Orange-500);
--color-text-warning-hover: var(--color-Orange-600);
--color-text-warning-pressed: var(--color-Orange-700);
--color-text-disabled: var(--color-Grey-400);
--color-text-purple-default: var(--color-Tertiary-400);
--color-text-purple-hovered: var(--color-Tertiary-500);
--color-text-purple-pressed: var(--color-Tertiary-600);
--color-bg-brand: var(--color-Primary-500);
--color-bg-brand-hover: var(--color-Primary-600);
--color-bg-brand-pressed: var(--color-Primary-700);
--color-bg-brand-subtle: var(--color-Primary-Alpha-10);
--color-bg-brand-subtle-hover: var(--color-Primary-100);
--color-bg-brand-subtle-pressed: var(--color-Primary-500);
--color-bg-primary: var(--color-White-100);
--color-bg-primary-hover: var(--color-Grey-100);
--color-bg-primary-pressed: var(--color-Grey-200);
--color-bg-secondary: var(--color-Tertiary-50);
--color-bg-secondary-hover: var(--color-Tertiary-100);
--color-bg-secondary-pressed: var(--color-Tertiary-200);
--color-bg-inverse: var(--color-Black-800);
--color-bg-inverse-hovered: var(--color-Black-700);
--color-bg-inverse-pressed: var(--color-Black-600);
--color-bg-neutral: var(--color-Grey-200);
--color-bg-neutral-hover: var(--color-Grey-300);
--color-bg-neutral-pressed: var(--color-Grey-400);
--color-bg-info: var(--color-Blue-500);
--color-bg-info-subtle: var(--color-Blue-100);
--color-bg-negative: var(--color-Red-500);
--color-bg-negative-hovered: var(--color-Red-600);
--color-bg-negative-pressed: var(--color-Red-700);
--color-bg-negative-subtle: var(--color-Red-100);
--color-bg-positive: var(--color-Green-600);
--color-bg-positive-subtle: var(--color-Green-100);
--color-bg-warning: var(--color-Orange-400);
--color-bg-warning-subtle: var(--color-Orange-100);
--color-bg-disabled: var(--color-Grey-Alpha-10);
--color-icon-primary: var(--color-Black-900);
--color-icon-secondary: var(--color-Black-700);
--color-icon-inverse: var(--color-White-100);
--color-icon-brand: var(--color-Primary-500);
--color-icon-disabled: var(--color-Grey-200);
--color-icon-info: var(--color-Blue-500);
--color-icon-warning: var(--color-Orange-500);
--color-icon-negative: var(--color-Red-500);
--color-icon-positive: var(--color-Green-600);
--color-border-alternative: var(--color-Tertiary-50);
--color-border-primary: var(--color-Grey-200);
--color-border-secondary: var(--color-Grey-300);
--color-border-pressed: var(--color-Grey-400);
--color-border-disable: var(--color-Grey-100);
--color-border-brand: var(--color-Primary-500);
--color-border-brand-hovered: var(--color-Primary-600);
--color-border-brand-pressed: var(--color-Primary-700);
--color-border-info: var(--color-Blue-500);
--color-border-warning: var(--color-Orange-500);
--color-border-negative: var(--color-Red-500);
--color-border-positive: var(--color-Green-600);
--color-border-purple: var(--color-Tertiary-300);
--color-surface-l0: var(--color-White-100);
--color-surface-l1: var(--color-Primary-Alpha-10);
--color-surface-l2: var(--color-White-60);
--color-surface-l3: var(--color-White-40);
--color-surface-l4: var(--color-White-20);
--color-overlay-20: var(--color-White-20);
--color-overlay-60: var(--color-White-60);
--color-overlay-inverse20: var(--color-Black-Alpha-20);
--color-overlay-inverse60: var(--color-Black-Alpha-60);
--color-graph-b0: var(--color-Primary-900);
--color-graph-b1: var(--color-Primary-800);
--color-graph-b2: var(--color-Primary-700);
--color-graph-b3: var(--color-Primary-600);
--color-graph-b4: var(--color-Primary-500);
--color-graph-b5: var(--color-Primary-400);
--color-graph-g0: var(--color-Secondary-800);
--color-graph-g1: var(--color-Secondary-700);
--color-graph-g2: var(--color-Secondary-600);
--color-graph-g3: var(--color-Secondary-500);
--color-graph-g4: var(--color-Secondary-100);
--color-graph-p0: var(--color-Tertiary-900);
--color-graph-p1: var(--color-Tertiary-700);
--color-graph-p2: var(--color-Tertiary-500);
--color-graph-p3: var(--color-Tertiary-300);
