@import '../primitive/primitive.css';

--effects-focused-primary: 0px 0px 2px 1px rgba(10, 138, 254, 0.80);
--effects-focused-positive: 0px 0px 2px 1px rgba(59, 165, 93, 0.80);
--effects-focused-negative: 0px 0px 2px 1px rgba(214, 69, 69, 0.80);
--effects-shadow-m: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
