  --spacing-1x: var(--unit-8);
  --spacing-2x: var(--unit-16);
  --spacing-3x: var(--unit-24);
  --spacing-4x: var(--unit-32);
  --spacing-5x: var(--unit-40);
  --spacing-6x: var(--unit-48);
  --spacing-7x: var(--unit-56);
  --spacing-8x: var(--unit-64);
  --spacing-9x: var(--unit-72);
  --spacing-10x: var(--unit-80);
  --spacing-0-5x: var(--unit-4);
  --spacing-1-5x: var(--unit-12);
