:root {
  --spacing-1-x: var(--primitive-8);
  --spacing-2-x: var(--primitive-16);
  --spacing-3-x: var(--primitive-24);
  --spacing-4-x: var(--primitive-32);
  --spacing-5-x: var(--primitive-40);
  --spacing-6-x: var(--primitive-48);
  --spacing-7-x: var(--primitive-56);
  --spacing-8-x: var(--primitive-64);
  --spacing-9-x: var(--primitive-72);
  --spacing-10-x: var(--primitive-80);
  --spacing-0-5-x: var(--primitive-4);
  --spacing-1-5-x: var(--primitive-12);
}