/* SPACING - 1X */

--spacing-1x-0: v;
  --spacing-1x-1: a;
  --spacing-1x-2: r;
  --spacing-1x-3: (;
  --spacing-1x-4: -;
  --spacing-1x-5: -;
  --spacing-1x-6: p;
  --spacing-1x-7: r;
  --spacing-1x-8: i;
  --spacing-1x-9: m;
  --spacing-1x-10: i;
  --spacing-1x-11: t;
  --spacing-1x-12: i;
  --spacing-1x-13: v;
  --spacing-1x-14: e;
  --spacing-1x-15: -;
  --spacing-1x-16: 8;
  --spacing-1x-17: );

/* SPACING - 2X */

--spacing-2x-0: v;
  --spacing-2x-1: a;
  --spacing-2x-2: r;
  --spacing-2x-3: (;
  --spacing-2x-4: -;
  --spacing-2x-5: -;
  --spacing-2x-6: p;
  --spacing-2x-7: r;
  --spacing-2x-8: i;
  --spacing-2x-9: m;
  --spacing-2x-10: i;
  --spacing-2x-11: t;
  --spacing-2x-12: i;
  --spacing-2x-13: v;
  --spacing-2x-14: e;
  --spacing-2x-15: -;
  --spacing-2x-16: 1;
  --spacing-2x-17: 6;
  --spacing-2x-18: );

/* SPACING - 3X */

--spacing-3x-0: v;
  --spacing-3x-1: a;
  --spacing-3x-2: r;
  --spacing-3x-3: (;
  --spacing-3x-4: -;
  --spacing-3x-5: -;
  --spacing-3x-6: p;
  --spacing-3x-7: r;
  --spacing-3x-8: i;
  --spacing-3x-9: m;
  --spacing-3x-10: i;
  --spacing-3x-11: t;
  --spacing-3x-12: i;
  --spacing-3x-13: v;
  --spacing-3x-14: e;
  --spacing-3x-15: -;
  --spacing-3x-16: 2;
  --spacing-3x-17: 4;
  --spacing-3x-18: );

/* SPACING - 4X */

--spacing-4x-0: v;
  --spacing-4x-1: a;
  --spacing-4x-2: r;
  --spacing-4x-3: (;
  --spacing-4x-4: -;
  --spacing-4x-5: -;
  --spacing-4x-6: p;
  --spacing-4x-7: r;
  --spacing-4x-8: i;
  --spacing-4x-9: m;
  --spacing-4x-10: i;
  --spacing-4x-11: t;
  --spacing-4x-12: i;
  --spacing-4x-13: v;
  --spacing-4x-14: e;
  --spacing-4x-15: -;
  --spacing-4x-16: 3;
  --spacing-4x-17: 2;
  --spacing-4x-18: );

/* SPACING - 5X */

--spacing-5x-0: v;
  --spacing-5x-1: a;
  --spacing-5x-2: r;
  --spacing-5x-3: (;
  --spacing-5x-4: -;
  --spacing-5x-5: -;
  --spacing-5x-6: p;
  --spacing-5x-7: r;
  --spacing-5x-8: i;
  --spacing-5x-9: m;
  --spacing-5x-10: i;
  --spacing-5x-11: t;
  --spacing-5x-12: i;
  --spacing-5x-13: v;
  --spacing-5x-14: e;
  --spacing-5x-15: -;
  --spacing-5x-16: 4;
  --spacing-5x-17: 0;
  --spacing-5x-18: );

/* SPACING - 6X */

--spacing-6x-0: v;
  --spacing-6x-1: a;
  --spacing-6x-2: r;
  --spacing-6x-3: (;
  --spacing-6x-4: -;
  --spacing-6x-5: -;
  --spacing-6x-6: p;
  --spacing-6x-7: r;
  --spacing-6x-8: i;
  --spacing-6x-9: m;
  --spacing-6x-10: i;
  --spacing-6x-11: t;
  --spacing-6x-12: i;
  --spacing-6x-13: v;
  --spacing-6x-14: e;
  --spacing-6x-15: -;
  --spacing-6x-16: 4;
  --spacing-6x-17: 8;
  --spacing-6x-18: );

/* SPACING - 7X */

--spacing-7x-0: v;
  --spacing-7x-1: a;
  --spacing-7x-2: r;
  --spacing-7x-3: (;
  --spacing-7x-4: -;
  --spacing-7x-5: -;
  --spacing-7x-6: p;
  --spacing-7x-7: r;
  --spacing-7x-8: i;
  --spacing-7x-9: m;
  --spacing-7x-10: i;
  --spacing-7x-11: t;
  --spacing-7x-12: i;
  --spacing-7x-13: v;
  --spacing-7x-14: e;
  --spacing-7x-15: -;
  --spacing-7x-16: 5;
  --spacing-7x-17: 6;
  --spacing-7x-18: );

/* SPACING - 8X */

--spacing-8x-0: v;
  --spacing-8x-1: a;
  --spacing-8x-2: r;
  --spacing-8x-3: (;
  --spacing-8x-4: -;
  --spacing-8x-5: -;
  --spacing-8x-6: p;
  --spacing-8x-7: r;
  --spacing-8x-8: i;
  --spacing-8x-9: m;
  --spacing-8x-10: i;
  --spacing-8x-11: t;
  --spacing-8x-12: i;
  --spacing-8x-13: v;
  --spacing-8x-14: e;
  --spacing-8x-15: -;
  --spacing-8x-16: 6;
  --spacing-8x-17: 4;
  --spacing-8x-18: );

/* SPACING - 9X */

--spacing-9x-0: v;
  --spacing-9x-1: a;
  --spacing-9x-2: r;
  --spacing-9x-3: (;
  --spacing-9x-4: -;
  --spacing-9x-5: -;
  --spacing-9x-6: p;
  --spacing-9x-7: r;
  --spacing-9x-8: i;
  --spacing-9x-9: m;
  --spacing-9x-10: i;
  --spacing-9x-11: t;
  --spacing-9x-12: i;
  --spacing-9x-13: v;
  --spacing-9x-14: e;
  --spacing-9x-15: -;
  --spacing-9x-16: 7;
  --spacing-9x-17: 2;
  --spacing-9x-18: );

/* SPACING - 10X */

--spacing-10x-0: v;
  --spacing-10x-1: a;
  --spacing-10x-2: r;
  --spacing-10x-3: (;
  --spacing-10x-4: -;
  --spacing-10x-5: -;
  --spacing-10x-6: p;
  --spacing-10x-7: r;
  --spacing-10x-8: i;
  --spacing-10x-9: m;
  --spacing-10x-10: i;
  --spacing-10x-11: t;
  --spacing-10x-12: i;
  --spacing-10x-13: v;
  --spacing-10x-14: e;
  --spacing-10x-15: -;
  --spacing-10x-16: 8;
  --spacing-10x-17: 0;
  --spacing-10x-18: );

/* SPACING - 0-5X */

--spacing-0-5x-0: v;
  --spacing-0-5x-1: a;
  --spacing-0-5x-2: r;
  --spacing-0-5x-3: (;
  --spacing-0-5x-4: -;
  --spacing-0-5x-5: -;
  --spacing-0-5x-6: p;
  --spacing-0-5x-7: r;
  --spacing-0-5x-8: i;
  --spacing-0-5x-9: m;
  --spacing-0-5x-10: i;
  --spacing-0-5x-11: t;
  --spacing-0-5x-12: i;
  --spacing-0-5x-13: v;
  --spacing-0-5x-14: e;
  --spacing-0-5x-15: -;
  --spacing-0-5x-16: 4;
  --spacing-0-5x-17: );

/* SPACING - 1-5X */

--spacing-1-5x-0: v;
  --spacing-1-5x-1: a;
  --spacing-1-5x-2: r;
  --spacing-1-5x-3: (;
  --spacing-1-5x-4: -;
  --spacing-1-5x-5: -;
  --spacing-1-5x-6: p;
  --spacing-1-5x-7: r;
  --spacing-1-5x-8: i;
  --spacing-1-5x-9: m;
  --spacing-1-5x-10: i;
  --spacing-1-5x-11: t;
  --spacing-1-5x-12: i;
  --spacing-1-5x-13: v;
  --spacing-1-5x-14: e;
  --spacing-1-5x-15: -;
  --spacing-1-5x-16: 1;
  --spacing-1-5x-17: 2;
  --spacing-1-5x-18: );