--type-letter-spacing-xs: -1;
--type-letter-spacing-s: -0.5;
--type-letter-spacing-none: 0;
--type-letter-spacing-m: 0.5;
--type-letter-spacing-l: 1;
--type-family-inter: Inter;
--type-family-ibmPlexSans: IBM Plex Sans;
--type-family-archivo: Archivo;
--type-weight-light: Light;
--type-weight-regular: Regular;
--type-weight-semiBold: Semi Bold;
--type-weight-medium: Medium;
--type-weight-bold: Bold;
