:root {
  --type-size-xs: var(--unit-10);
  --type-size-s: var(--unit-12);
  --type-size-m: var(--unit-14);
  --type-size-l: var(--unit-16);
  --type-size-xl: var(--unit-18);
  --type-size-2xl: var(--unit-20);
  --type-size-3xl: var(--unit-24);
  --type-size-4xl: var(--unit-28);
  --type-size-5xl: var(--unit-32);
  --type-size-6xl: var(--unit-40);
  --type-size-7xl: var(--unit-48);
  --type-size-8xl: var(--unit-56);
  --type-size-9xl: var(--unit-64);
  --type-size-10xl: var(--unit-72);
  --type-letter-spacing-xs: -1;
  --type-letter-spacing-s: -0.5;
  --type-letter-spacing-none: 0;
  --type-letter-spacing-m: 0.5;
  --type-letter-spacing-l: 1;
  --type-line-height-6xl: var(--unit-48);
  --type-line-height-5xl: var(--unit-40);
  --type-line-height-4xl: var(--unit-36);
  --type-line-height-9xl: var(--unit-72);
  --type-line-height-3xl: var(--unit-32);
  --type-line-height-2xl: var(--unit-28);
  --type-line-height-8xl: var(--unit-64);
  --type-line-height-xl: var(--unit-26);
  --type-line-height-m: var(--unit-20);
  --type-line-height-10xl: var(--unit-80);
  --type-line-height-s: var(--unit-18);
  --type-line-height-l: var(--unit-24);
  --type-line-height-7xl: var(--unit-56);
  --type-line-height-xs: var(--unit-16);
}