$bg-color-primary: $white-100;
$bg-color-primary-hover: $grey-100;
$bg-color-primary-pressed: $grey-200;
$bg-color-secondary: $tertiary-50;
$bg-color-secondary-hover: $tertiary-100;
$bg-color-secondary-pressed: $tertiary-200;
$bg-color-neutral: $grey-200;
$bg-color-neutral-hover: $grey-300;
$bg-color-neutral-pressed: $grey-400;
$bg-color-info: $blue-500;
$bg-color-info-subtle: $blue-100;
$bg-color-negative: $red-500;
$bg-color-negative-subtle: $red-100;
$bg-color-positive: $green-600;
$bg-color-positive-subtle: $green-100;
$bg-color-warning-subtle: $orange-100;
$bg-color-warning: $orange-400;
$bg-color-brand: $primary-500;
$bg-color-brand-hover: $primary-600;
$bg-color-brand-pressed: $primary-700;
$bg-color-disabled: $grey-alpha-10;
$bg-color-negative-hovered: $red-600;
$bg-color-negative-pressed: $red-700;
$bg-color-inverse-pressed: $black-600;
$bg-color-inverse-hovered: $black-700;
$bg-color-inverse: $black-800;
$bg-color-brand-subtle-pressed: $primary-500;
$bg-color-brand-subtle-hover: $primary-100;
$bg-color-brand-subtle: $primary-alpha-10;
