$semantic-bg-primary: #{$white-100};
$semantic-bg-primary-hover: #{$grey-100};
$semantic-bg-primary-pressed: #{$grey-200};
$semantic-bg-secondary: #{$tertiary-50};
$semantic-bg-secondary-hover: #{$tertiary-100};
$semantic-bg-secondary-pressed: #{$tertiary-200};
$semantic-bg-neutral: #{$grey-200};
$semantic-bg-neutral-hover: #{$grey-300};
$semantic-bg-neutral-pressed: #{$grey-400};
$semantic-bg-info: #{$blue-500};
$semantic-bg-info-subtle: #{$blue-100};
$semantic-bg-negative: #{$red-500};
$semantic-bg-negative-subtle: #{$red-100};
$semantic-bg-positive: #{$green-600};
$semantic-bg-positive-subtle: #{$green-100};
$semantic-bg-warning-subtle: #{$orange-100};
$semantic-bg-warning: #{$orange-400};
$semantic-bg-brand: #{$primary-500};
$semantic-bg-brand-hover: #{$primary-600};
$semantic-bg-brand-pressed: #{$primary-700};
$semantic-bg-disabled: #{$grey-alpha-10};
$semantic-bg-negative-hovered: #{$red-600};
$semantic-bg-negative-pressed: #{$red-700};
$semantic-bg-inverse-pressed: #{$black-600};
$semantic-bg-inverse-hovered: #{$black-700};
$semantic-bg-inverse: #{$black-800};
$semantic-bg-brand-subtle-pressed: #{$primary-500};
$semantic-bg-brand-subtle-hover: #{$primary-100};
$semantic-bg-brand-subtle: #{$primary-alpha-10};
