$semantic-bg-color-primary: #{'$' + ref};
$semantic-bg-color-primary-hover: #{'$' + ref};
$semantic-bg-color-primary-pressed: #{'$' + ref};
$semantic-bg-color-secondary: #{'$' + ref};
$semantic-bg-color-secondary-hover: #{'$' + ref};
$semantic-bg-color-secondary-pressed: #{'$' + ref};
$semantic-bg-color-neutral: #{'$' + ref};
$semantic-bg-color-neutral-hover: #{'$' + ref};
$semantic-bg-color-neutral-pressed: #{'$' + ref};
$semantic-bg-color-info: #{'$' + ref};
$semantic-bg-color-info-subtle: #{'$' + ref};
$semantic-bg-color-negative: #{'$' + ref};
$semantic-bg-color-negative-subtle: #{'$' + ref};
$semantic-bg-color-positive: #{'$' + ref};
$semantic-bg-color-positive-subtle: #{'$' + ref};
$semantic-bg-color-warning-subtle: #{'$' + ref};
$semantic-bg-color-warning: #{'$' + ref};
$semantic-bg-color-brand: #{'$' + ref};
$semantic-bg-color-brand-hover: #{'$' + ref};
$semantic-bg-color-brand-pressed: #{'$' + ref};
$semantic-bg-color-disabled: #{'$' + ref};
$semantic-bg-color-negative-hovered: #{'$' + ref};
$semantic-bg-color-negative-pressed: #{'$' + ref};
$semantic-bg-color-inverse-pressed: #{'$' + ref};
$semantic-bg-color-inverse-hovered: #{'$' + ref};
$semantic-bg-color-inverse: #{'$' + ref};
$semantic-bg-color-brand-subtle-pressed: #{'$' + ref};
$semantic-bg-color-brand-subtle-hover: #{'$' + ref};
$semantic-bg-color-brand-subtle: #{'$' + ref};
