$semantic-body-l-light-size: #{'$' + ref};
$semantic-body-l-light-line-height: #{'$' + ref};
$semantic-body-l-light-letter-spacing: #{'$' + ref};
$semantic-body-l-light-weight: #{'$' + ref};
$semantic-body-l-regular-weight: #{'$' + ref};
$semantic-body-l-regular-size: #{'$' + ref};
$semantic-body-l-regular-line-height: #{'$' + ref};
$semantic-body-l-regular-letter-spacing: #{'$' + ref};
$semantic-body-l-semibold-weight: #{'$' + ref};
$semantic-body-l-semibold-size: #{'$' + ref};
$semantic-body-l-semibold-line-height: #{'$' + ref};
$semantic-body-l-semibold-letter-spacing: #{'$' + ref};
$semantic-body-m-light-weight: #{'$' + ref};
$semantic-body-m-light-size: #{'$' + ref};
$semantic-body-m-light-line-height: #{'$' + ref};
$semantic-body-m-light-letter-spacing: #{'$' + ref};
$semantic-body-m-regular-weight: #{'$' + ref};
$semantic-body-m-regular-size: #{'$' + ref};
$semantic-body-m-regular-line-height: #{'$' + ref};
$semantic-body-m-regular-letter-spacing: #{'$' + ref};
$semantic-body-m-semibold-weight: #{'$' + ref};
$semantic-body-m-semibold-size: #{'$' + ref};
$semantic-body-m-semibold-line-height: #{'$' + ref};
$semantic-body-m-semibold-letter-spacing: #{'$' + ref};
$semantic-body-s-light-weight: #{'$' + ref};
$semantic-body-s-light-size: #{'$' + ref};
$semantic-body-s-light-line-height: #{'$' + ref};
$semantic-body-s-light-letter-spacing: #{'$' + ref};
$semantic-body-s-regular-weight: #{'$' + ref};
$semantic-body-s-regular-size: #{'$' + ref};
$semantic-body-s-regular-line-height: #{'$' + ref};
$semantic-body-s-regular-letter-spacing: #{'$' + ref};
$semantic-body-s-semibold-weight: #{'$' + ref};
$semantic-body-s-semibold-size: #{'$' + ref};
$semantic-body-s-semibold-line-height: #{'$' + ref};
$semantic-body-s-semibold-letter-spacing: #{'$' + ref};
$semantic-body-xs-light-weight: #{'$' + ref};
$semantic-body-xs-light-size: #{'$' + ref};
$semantic-body-xs-light-line-height: #{'$' + ref};
$semantic-body-xs-light-letter-spacing: #{'$' + ref};
$semantic-body-xs-regular-weight: #{'$' + ref};
$semantic-body-xs-regular-size: #{'$' + ref};
$semantic-body-xs-regular-line-height: #{'$' + ref};
$semantic-body-xs-regular-letter-spacing: #{'$' + ref};
$semantic-body-xs-semibold-weight: #{'$' + ref};
$semantic-body-xs-semibold-size: #{'$' + ref};
$semantic-body-xs-semibold-line-height: #{'$' + ref};
$semantic-body-xs-semibold-letter-spacing: #{'$' + ref};
$semantic-body-xl-light-weight: #{'$' + ref};
$semantic-body-xl-light-size: #{'$' + ref};
$semantic-body-xl-light-line-height: #{'$' + ref};
$semantic-body-xl-light-letter-spacing: #{'$' + ref};
$semantic-body-xl-regular-weight: #{'$' + ref};
$semantic-body-xl-regular-size: #{'$' + ref};
$semantic-body-xl-regular-line-height: #{'$' + ref};
$semantic-body-xl-regular-letter-spacing: #{'$' + ref};
$semantic-body-xl-semibold-weight: #{'$' + ref};
$semantic-body-xl-semibold-size: #{'$' + ref};
$semantic-body-xl-semibold-line-height: #{'$' + ref};
$semantic-body-xl-semibold-letter-spacing: #{'$' + ref};
