$body-l-light-size: $unit-16;
$body-l-light-line-height: $line-height-l;
$body-l-light-letter-spacing: $letter-spacing-none;
$body-l-light-weight: $font-weight-light;
$body-l-regular-weight: $font-weight-regular;
$body-l-regular-size: $unit-16;
$body-l-regular-line-height: $line-height-l;
$body-l-regular-letter-spacing: $letter-spacing-none;
$body-l-semibold-weight: $font-weight-semi-bold;
$body-l-semibold-size: $unit-16;
$body-l-semibold-line-height: $line-height-l;
$body-l-semibold-letter-spacing: $letter-spacing-none;
$body-m-light-weight: $font-weight-light;
$body-m-light-size: $unit-14;
$body-m-light-line-height: $line-height-m;
$body-m-light-letter-spacing: $letter-spacing-none;
$body-m-regular-weight: $font-weight-regular;
$body-m-regular-size: $unit-14;
$body-m-regular-line-height: $line-height-m;
$body-m-regular-letter-spacing: $letter-spacing-none;
$body-m-semibold-weight: $font-weight-semi-bold;
$body-m-semibold-size: $unit-14;
$body-m-semibold-line-height: $line-height-m;
$body-m-semibold-letter-spacing: $letter-spacing-none;
$body-s-light-weight: $font-weight-light;
$body-s-light-size: $unit-12;
$body-s-light-line-height: $line-height-s;
$body-s-light-letter-spacing: $letter-spacing-none;
$body-s-regular-weight: $font-weight-regular;
$body-s-regular-size: $unit-12;
$body-s-regular-line-height: $line-height-s;
$body-s-regular-letter-spacing: $letter-spacing-none;
$body-s-semibold-weight: $font-weight-semi-bold;
$body-s-semibold-size: $unit-12;
$body-s-semibold-line-height: $line-height-s;
$body-s-semibold-letter-spacing: $letter-spacing-none;
$body-xs-light-weight: $font-weight-light;
$body-xs-light-size: $unit-10;
$body-xs-light-line-height: $line-height-xs;
$body-xs-light-letter-spacing: $letter-spacing-none;
$body-xs-regular-weight: $font-weight-regular;
$body-xs-regular-size: $unit-10;
$body-xs-regular-line-height: $line-height-xs;
$body-xs-regular-letter-spacing: $letter-spacing-none;
$body-xs-semibold-weight: $font-weight-semi-bold;
$body-xs-semibold-size: $unit-10;
$body-xs-semibold-line-height: $line-height-xs;
$body-xs-semibold-letter-spacing: $letter-spacing-none;
$body-xl-light-weight: $font-weight-light;
$body-xl-light-size: $unit-18;
$body-xl-light-line-height: $line-height-xl;
$body-xl-light-letter-spacing: $letter-spacing-none;
$body-xl-regular-weight: $font-weight-regular;
$body-xl-regular-size: $unit-18;
$body-xl-regular-line-height: $line-height-xl;
$body-xl-regular-letter-spacing: $letter-spacing-none;
$body-xl-semibold-weight: $font-weight-semi-bold;
$body-xl-semibold-size: $unit-18;
$body-xl-semibold-line-height: $line-height-xl;
$body-xl-semibold-letter-spacing: $letter-spacing-none;
