.body-l-light {
  font-size: #{$unit-16};
  line-height: #{$unit-24};
  letter-spacing: #{$letter-spacing-none};
  font-weight: #{$font-weight-light};
}

.body-l-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-16};
  line-height: #{$unit-24};
  letter-spacing: #{$letter-spacing-none};
}

.body-l-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-16};
  line-height: #{$unit-24};
  letter-spacing: #{$letter-spacing-none};
}

.body-m-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-14};
  line-height: #{$unit-20};
  letter-spacing: #{$letter-spacing-none};
}

.body-m-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-14};
  line-height: #{$unit-20};
  letter-spacing: #{$letter-spacing-none};
}

.body-m-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-14};
  line-height: #{$unit-20};
  letter-spacing: #{$letter-spacing-none};
}

.body-s-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-12};
  line-height: #{$unit-18};
  letter-spacing: #{$letter-spacing-none};
}

.body-s-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-12};
  line-height: #{$unit-18};
  letter-spacing: #{$letter-spacing-none};
}

.body-s-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-12};
  line-height: #{$unit-18};
  letter-spacing: #{$letter-spacing-none};
}

.body-xs-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-10};
  line-height: #{$unit-16};
  letter-spacing: #{$letter-spacing-none};
}

.body-xs-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-10};
  line-height: #{$unit-16};
  letter-spacing: #{$letter-spacing-none};
}

.body-xs-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-10};
  line-height: #{$unit-16};
  letter-spacing: #{$letter-spacing-none};
}

.body-xl-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-18};
  line-height: #{$unit-26};
  letter-spacing: #{$letter-spacing-none};
}

.body-xl-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-18};
  line-height: #{$unit-26};
  letter-spacing: #{$letter-spacing-none};
}

.body-xl-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-18};
  line-height: #{$unit-26};
  letter-spacing: #{$letter-spacing-none};
}

