$semantic-border-color-pressed: #{$grey-400};
$semantic-border-color-secondary: #{$grey-300};
$semantic-border-color-brand: #{$primary-500};
$semantic-border-color-primary: #{$grey-200};
$semantic-border-color-info: #{$blue-500};
$semantic-border-color-warning: #{$orange-500};
$semantic-border-color-negative: #{$red-500};
$semantic-border-color-positive: #{$green-600};
$semantic-border-color-brand-hovered: #{$primary-600};
$semantic-border-color-brand-pressed: #{$primary-700};
$semantic-border-color-alternative: #{$tertiary-50};
$semantic-border-color-disable: #{$grey-100};
$semantic-border-color-purple: #{$tertiary-300};
