$semantic-border-color-pressed: #{'$' + ref};
$semantic-border-color-secondary: #{'$' + ref};
$semantic-border-color-brand: #{'$' + ref};
$semantic-border-color-primary: #{'$' + ref};
$semantic-border-color-info: #{'$' + ref};
$semantic-border-color-warning: #{'$' + ref};
$semantic-border-color-negative: #{'$' + ref};
$semantic-border-color-positive: #{'$' + ref};
$semantic-border-color-brand-hovered: #{'$' + ref};
$semantic-border-color-brand-pressed: #{'$' + ref};
$semantic-border-color-alternative: #{'$' + ref};
$semantic-border-color-disable: #{'$' + ref};
$semantic-border-color-purple: #{'$' + ref};
