$semantic-graph-color-b1: #{'$' + ref};
$semantic-graph-color-b2: #{'$' + ref};
$semantic-graph-color-b3: #{'$' + ref};
$semantic-graph-color-g3: #{'$' + ref};
$semantic-graph-color-g2: #{'$' + ref};
$semantic-graph-color-g1: #{'$' + ref};
$semantic-graph-color-p3: #{'$' + ref};
$semantic-graph-color-p2: #{'$' + ref};
$semantic-graph-color-p1: #{'$' + ref};
$semantic-graph-color-b0: #{'$' + ref};
$semantic-graph-color-g0: #{'$' + ref};
$semantic-graph-color-p0: #{'$' + ref};
$semantic-graph-color-b4: #{'$' + ref};
$semantic-graph-color-g4: #{'$' + ref};
$semantic-graph-color-b5: #{'$' + ref};
