$graph-color-b1: $primary-800;
$graph-color-b2: $primary-700;
$graph-color-b3: $primary-600;
$graph-color-g3: $secondary-500;
$graph-color-g2: $secondary-600;
$graph-color-g1: $secondary-700;
$graph-color-p3: $tertiary-300;
$graph-color-p2: $tertiary-500;
$graph-color-p1: $tertiary-700;
$graph-color-b0: $primary-900;
$graph-color-g0: $secondary-800;
$graph-color-p0: $tertiary-900;
$graph-color-b4: $primary-500;
$graph-color-g4: $secondary-100;
$graph-color-b5: $primary-400;
