$graph-b1: #{$primary-800};
$graph-b2: #{$primary-700};
$graph-b3: #{$primary-600};
$graph-g3: #{$secondary-500};
$graph-g2: #{$secondary-600};
$graph-g1: #{$secondary-700};
$graph-p3: #{$tertiary-300};
$graph-p2: #{$tertiary-500};
$graph-p1: #{$tertiary-700};
$graph-b0: #{$primary-900};
$graph-g0: #{$secondary-800};
$graph-p0: #{$tertiary-900};
$graph-b4: #{$primary-500};
$graph-g4: #{$secondary-100};
$graph-b5: #{$primary-400};
