.heading-xl-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-40};
  line-height: #{$unit-48};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-xl-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-40};
  line-height: #{$unit-48};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-xl-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-40};
  line-height: #{$unit-48};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-l-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-32};
  line-height: #{$unit-40};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-l-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-32};
  line-height: #{$unit-40};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-l-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-32};
  line-height: #{$unit-40};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-m-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-24};
  line-height: #{$unit-32};
  letter-spacing: #{$letter-spacing-s};
}

.heading-m-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-24};
  line-height: #{$unit-32};
  letter-spacing: #{$letter-spacing-s};
}

.heading-m-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-24};
  line-height: #{$unit-32};
  letter-spacing: #{$letter-spacing-s};
}

.heading-s-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-20};
  line-height: #{$unit-28};
  letter-spacing: #{$letter-spacing-s};
}

.heading-s-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-20};
  line-height: #{$unit-28};
  letter-spacing: #{$letter-spacing-s};
}

.heading-s-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-20};
  line-height: #{$unit-28};
  letter-spacing: #{$letter-spacing-s};
}

.heading-xs-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-16};
  line-height: #{$unit-24};
  letter-spacing: #{$letter-spacing-s};
}

.heading-xs-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-16};
  line-height: #{$unit-24};
  letter-spacing: #{$letter-spacing-s};
}

.heading-xs-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-16};
  line-height: #{$unit-24};
  letter-spacing: #{$letter-spacing-s};
}

.heading-2xs-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-14};
  line-height: #{$unit-20};
  letter-spacing: #{$letter-spacing-none};
}

.heading-2xs-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-14};
  line-height: #{$unit-20};
  letter-spacing: #{$letter-spacing-none};
}

.heading-2xs-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-14};
  line-height: #{$unit-20};
  letter-spacing: #{$letter-spacing-none};
}

.heading-2xl-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-48};
  line-height: #{$unit-56};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-2xl-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-48};
  line-height: #{$unit-56};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-2xl-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-48};
  line-height: #{$unit-56};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-3xl-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-56};
  line-height: #{$unit-64};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-3xl-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-56};
  line-height: #{$unit-64};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-3xl-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-56};
  line-height: #{$unit-64};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-4xl-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-64};
  line-height: #{$unit-72};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-4xl-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-64};
  line-height: #{$unit-72};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-4xl-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-64};
  line-height: #{$unit-72};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-5xl-light {
  font-weight: #{$font-weight-light};
  font-size: #{$unit-72};
  line-height: #{$unit-80};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-5xl-regular {
  font-weight: #{$font-weight-regular};
  font-size: #{$unit-72};
  line-height: #{$unit-80};
  letter-spacing: #{$letter-spacing-xs};
}

.heading-5xl-semibold {
  font-weight: #{$font-weight-semi-bold};
  font-size: #{$unit-72};
  line-height: #{$unit-80};
  letter-spacing: #{$letter-spacing-xs};
}

