$semantic-heading-xl-light-weight: #{$font-weight-light};
$semantic-heading-xl-light-size: #{$unit-40};
$semantic-heading-xl-light-line-height: #{$unit-48};
$semantic-heading-xl-light-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-xl-regular-weight: #{$font-weight-regular};
$semantic-heading-xl-regular-size: #{$unit-40};
$semantic-heading-xl-regular-line-height: #{$unit-48};
$semantic-heading-xl-regular-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-xl-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-xl-semibold-size: #{$unit-40};
$semantic-heading-xl-semibold-line-height: #{$unit-48};
$semantic-heading-xl-semibold-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-l-light-weight: #{$font-weight-light};
$semantic-heading-l-light-size: #{$unit-32};
$semantic-heading-l-light-line-height: #{$unit-40};
$semantic-heading-l-light-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-l-regular-weight: #{$font-weight-regular};
$semantic-heading-l-regular-size: #{$unit-32};
$semantic-heading-l-regular-line-height: #{$unit-40};
$semantic-heading-l-regular-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-l-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-l-semibold-size: #{$unit-32};
$semantic-heading-l-semibold-line-height: #{$unit-40};
$semantic-heading-l-semibold-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-m-light-weight: #{$font-weight-light};
$semantic-heading-m-light-size: #{$unit-24};
$semantic-heading-m-light-line-height: #{$unit-32};
$semantic-heading-m-light-letter-spacing: #{$letter-spacing-s};
$semantic-heading-m-regular-weight: #{$font-weight-regular};
$semantic-heading-m-regular-size: #{$unit-24};
$semantic-heading-m-regular-line-height: #{$unit-32};
$semantic-heading-m-regular-letter-spacing: #{$letter-spacing-s};
$semantic-heading-m-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-m-semibold-size: #{$unit-24};
$semantic-heading-m-semibold-line-height: #{$unit-32};
$semantic-heading-m-semibold-letter-spacing: #{$letter-spacing-s};
$semantic-heading-s-light-weight: #{$font-weight-light};
$semantic-heading-s-light-size: #{$unit-20};
$semantic-heading-s-light-line-height: #{$unit-28};
$semantic-heading-s-light-letter-spacing: #{$letter-spacing-s};
$semantic-heading-s-regular-weight: #{$font-weight-regular};
$semantic-heading-s-regular-size: #{$unit-20};
$semantic-heading-s-regular-line-height: #{$unit-28};
$semantic-heading-s-regular-letter-spacing: #{$letter-spacing-s};
$semantic-heading-s-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-s-semibold-size: #{$unit-20};
$semantic-heading-s-semibold-line-height: #{$unit-28};
$semantic-heading-s-semibold-letter-spacing: #{$letter-spacing-s};
$semantic-heading-xs-light-weight: #{$font-weight-light};
$semantic-heading-xs-light-size: #{$unit-16};
$semantic-heading-xs-light-line-height: #{$unit-24};
$semantic-heading-xs-light-letter-spacing: #{$letter-spacing-s};
$semantic-heading-xs-regular-weight: #{$font-weight-regular};
$semantic-heading-xs-regular-size: #{$unit-16};
$semantic-heading-xs-regular-line-height: #{$unit-24};
$semantic-heading-xs-regular-letter-spacing: #{$letter-spacing-s};
$semantic-heading-xs-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-xs-semibold-size: #{$unit-16};
$semantic-heading-xs-semibold-line-height: #{$unit-24};
$semantic-heading-xs-semibold-letter-spacing: #{$letter-spacing-s};
$semantic-heading-2xs-light-weight: #{$font-weight-light};
$semantic-heading-2xs-light-size: #{$unit-14};
$semantic-heading-2xs-light-line-height: #{$unit-20};
$semantic-heading-2xs-light-letter-spacing: #{$letter-spacing-none};
$semantic-heading-2xs-regular-weight: #{$font-weight-regular};
$semantic-heading-2xs-regular-size: #{$unit-14};
$semantic-heading-2xs-regular-line-height: #{$unit-20};
$semantic-heading-2xs-regular-letter-spacing: #{$letter-spacing-none};
$semantic-heading-2xs-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-2xs-semibold-size: #{$unit-14};
$semantic-heading-2xs-semibold-line-height: #{$unit-20};
$semantic-heading-2xs-semibold-letter-spacing: #{$letter-spacing-none};
$semantic-heading-2xl-light-weight: #{$font-weight-light};
$semantic-heading-2xl-light-size: #{$unit-48};
$semantic-heading-2xl-light-line-height: #{$unit-56};
$semantic-heading-2xl-light-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-2xl-regular-weight: #{$font-weight-regular};
$semantic-heading-2xl-regular-size: #{$unit-48};
$semantic-heading-2xl-regular-line-height: #{$unit-56};
$semantic-heading-2xl-regular-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-2xl-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-2xl-semibold-size: #{$unit-48};
$semantic-heading-2xl-semibold-line-height: #{$unit-56};
$semantic-heading-2xl-semibold-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-3xl-light-weight: #{$font-weight-light};
$semantic-heading-3xl-light-size: #{$unit-56};
$semantic-heading-3xl-light-line-height: #{$unit-64};
$semantic-heading-3xl-light-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-3xl-regular-weight: #{$font-weight-regular};
$semantic-heading-3xl-regular-size: #{$unit-56};
$semantic-heading-3xl-regular-line-height: #{$unit-64};
$semantic-heading-3xl-regular-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-3xl-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-3xl-semibold-size: #{$unit-56};
$semantic-heading-3xl-semibold-line-height: #{$unit-64};
$semantic-heading-3xl-semibold-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-4xl-light-weight: #{$font-weight-light};
$semantic-heading-4xl-light-size: #{$unit-64};
$semantic-heading-4xl-light-line-height: #{$unit-72};
$semantic-heading-4xl-light-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-4xl-regular-weight: #{$font-weight-regular};
$semantic-heading-4xl-regular-size: #{$unit-64};
$semantic-heading-4xl-regular-line-height: #{$unit-72};
$semantic-heading-4xl-regular-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-4xl-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-4xl-semibold-size: #{$unit-64};
$semantic-heading-4xl-semibold-line-height: #{$unit-72};
$semantic-heading-4xl-semibold-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-5xl-light-weight: #{$font-weight-light};
$semantic-heading-5xl-light-size: #{$unit-72};
$semantic-heading-5xl-light-line-height: #{$unit-80};
$semantic-heading-5xl-light-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-5xl-regular-weight: #{$font-weight-regular};
$semantic-heading-5xl-regular-size: #{$unit-72};
$semantic-heading-5xl-regular-line-height: #{$unit-80};
$semantic-heading-5xl-regular-letter-spacing: #{$letter-spacing-xs};
$semantic-heading-5xl-semibold-weight: #{$font-weight-semi-bold};
$semantic-heading-5xl-semibold-size: #{$unit-72};
$semantic-heading-5xl-semibold-line-height: #{$unit-80};
$semantic-heading-5xl-semibold-letter-spacing: #{$letter-spacing-xs};
