$semantic-icon-color-primary: #{$black-900};
$semantic-icon-color-secondary: #{$black-700};
$semantic-icon-color-disabled: #{$grey-200};
$semantic-icon-color-info: #{$blue-500};
$semantic-icon-color-warning: #{$orange-500};
$semantic-icon-color-negative: #{$red-500};
$semantic-icon-color-positive: #{$green-600};
$semantic-icon-color-inverse: #{$white-100};
$semantic-icon-color-brand: #{$primary-500};
