$icon-primary: #{$black-900};
$icon-secondary: #{$black-700};
$icon-disabled: #{$grey-200};
$icon-info: #{$blue-500};
$icon-warning: #{$orange-500};
$icon-negative: #{$red-500};
$icon-positive: #{$green-600};
$icon-inverse: #{$white-100};
$icon-brand: #{$primary-500};
