$spacing-1x: $unit-8;
$spacing-2x: $unit-16;
$spacing-3x: $unit-24;
$spacing-4x: $unit-32;
$spacing-5x: $unit-40;
$spacing-6x: $unit-48;
$spacing-7x: $unit-56;
$spacing-8x: $unit-64;
$spacing-9x: $unit-72;
$spacing-10x: $unit-80;
$spacing-0o5x: $unit-4;
$spacing-1o5x: $unit-12;
