$semantic-spacing-1x: #{'$' + ref};
$semantic-spacing-2x: #{'$' + ref};
$semantic-spacing-3x: #{'$' + ref};
$semantic-spacing-4x: #{'$' + ref};
$semantic-spacing-5x: #{'$' + ref};
$semantic-spacing-6x: #{'$' + ref};
$semantic-spacing-7x: #{'$' + ref};
$semantic-spacing-8x: #{'$' + ref};
$semantic-spacing-9x: #{'$' + ref};
$semantic-spacing-10x: #{'$' + ref};
$semantic-spacing-0o5x: #{'$' + ref};
$semantic-spacing-1o5x: #{'$' + ref};
