$semantic-spacing-1x: #{$unit-8};
$semantic-spacing-2x: #{$unit-16};
$semantic-spacing-3x: #{$unit-24};
$semantic-spacing-4x: #{$unit-32};
$semantic-spacing-5x: #{$unit-40};
$semantic-spacing-6x: #{$unit-48};
$semantic-spacing-7x: #{$unit-56};
$semantic-spacing-8x: #{$unit-64};
$semantic-spacing-9x: #{$unit-72};
$semantic-spacing-10x: #{$unit-80};
$semantic-spacing-0o5x: #{$unit-4};
$semantic-spacing-1o5x: #{$unit-12};
