$semantic-surface-color-l0: #{'$' + ref};
$semantic-surface-color-l1: #{'$' + ref};
$semantic-surface-color-l2: #{'$' + ref};
$semantic-surface-color-l3: #{'$' + ref};
$semantic-surface-color-l4: #{'$' + ref};
