$text-color-primary: $black-800;
$text-color-secondary: $black-700;
$text-color-tertiary: $black-600;
$text-color-primary-inverse: $white-100;
$text-color-secondary-inverse: $black-100;
$text-color-tertiary-inverse: $black-200;
$text-color-link: $blue-500;
$text-color-link-hover: $blue-600;
$text-color-link-pressed: $blue-700;
$text-color-negative-pressed: $red-900;
$text-color-negative-hover: $red-700;
$text-color-negative: $red-500;
$text-color-positive-hover: $green-800;
$text-color-positive-pressed: $green-900;
$text-color-positive: $green-700;
$text-color-disabled: $grey-400;
$text-color-brand-pressed: $primary-700;
$text-color-brand-hovered: $primary-600;
$text-color-brand: $primary-500;
$text-color-warning-pressed: $orange-700;
$text-color-warning-hover: $orange-600;
$text-color-warning: $orange-500;
$text-color-purple-default: $tertiary-400;
$text-color-purple-hovered: $tertiary-500;
$text-color-purple-pressed: $tertiary-600;
