$semantic-text-color-primary: #{$black-800};
$semantic-text-color-secondary: #{$black-700};
$semantic-text-color-tertiary: #{$black-600};
$semantic-text-color-primary-inverse: #{$white-100};
$semantic-text-color-secondary-inverse: #{$black-100};
$semantic-text-color-tertiary-inverse: #{$black-200};
$semantic-text-color-link: #{$blue-500};
$semantic-text-color-link-hover: #{$blue-600};
$semantic-text-color-link-pressed: #{$blue-700};
$semantic-text-color-negative-pressed: #{$red-900};
$semantic-text-color-negative-hover: #{$red-700};
$semantic-text-color-negative: #{$red-500};
$semantic-text-color-positive-hover: #{$green-800};
$semantic-text-color-positive-pressed: #{$green-900};
$semantic-text-color-positive: #{$green-700};
$semantic-text-color-disabled: #{$grey-400};
$semantic-text-color-brand-pressed: #{$primary-700};
$semantic-text-color-brand-hovered: #{$primary-600};
$semantic-text-color-brand: #{$primary-500};
$semantic-text-color-warning-pressed: #{$orange-700};
$semantic-text-color-warning-hover: #{$orange-600};
$semantic-text-color-warning: #{$orange-500};
$semantic-text-color-purple-default: #{$tertiary-400};
$semantic-text-color-purple-hovered: #{$tertiary-500};
$semantic-text-color-purple-pressed: #{$tertiary-600};
