$semantic-text-color-primary: #{'$' + ref};
$semantic-text-color-secondary: #{'$' + ref};
$semantic-text-color-tertiary: #{'$' + ref};
$semantic-text-color-primary-inverse: #{'$' + ref};
$semantic-text-color-secondary-inverse: #{'$' + ref};
$semantic-text-color-tertiary-inverse: #{'$' + ref};
$semantic-text-color-link: #{'$' + ref};
$semantic-text-color-link-hover: #{'$' + ref};
$semantic-text-color-link-pressed: #{'$' + ref};
$semantic-text-color-negative-pressed: #{'$' + ref};
$semantic-text-color-negative-hover: #{'$' + ref};
$semantic-text-color-negative: #{'$' + ref};
$semantic-text-color-positive-hover: #{'$' + ref};
$semantic-text-color-positive-pressed: #{'$' + ref};
$semantic-text-color-positive: #{'$' + ref};
$semantic-text-color-disabled: #{'$' + ref};
$semantic-text-color-brand-pressed: #{'$' + ref};
$semantic-text-color-brand-hovered: #{'$' + ref};
$semantic-text-color-brand: #{'$' + ref};
$semantic-text-color-warning-pressed: #{'$' + ref};
$semantic-text-color-warning-hover: #{'$' + ref};
$semantic-text-color-warning: #{'$' + ref};
$semantic-text-color-purple-default: #{'$' + ref};
$semantic-text-color-purple-hovered: #{'$' + ref};
$semantic-text-color-purple-pressed: #{'$' + ref};
