$black-100: #cccccc;
$black-200: #b2b2b2;
$black-300: #999999;
$black-400: #808080;
$black-500: #666666;
$black-600: #4d4d4d;
$black-700: #333333;
$black-800: #1a1a1a;
$black-900: #000000;
$black-alpha-10: rgba(0, 0, 0, 0.1);
$black-alpha-20: rgba(0, 0, 0, 0.2);
$black-alpha-40: rgba(0, 0, 0, 0.4);
$black-alpha-60: rgba(0, 0, 0, 0.6);
$black-alpha-80: rgba(0, 0, 0, 0.8);
