$orange-100: #fbe0ca;
$orange-200: #f8c196;
$orange-300: #f4a261;
$orange-400: #f18c3c;
$orange-500: #ef7717;
$orange-600: #d0640e;
$orange-700: #ab520c;
$orange-800: #864109;
$orange-900: #622f07;
$orange-alpha-10: rgba(244, 162, 97, 0.1);
$orange-alpha-20: rgba(244, 162, 97, 0.2);
$orange-alpha-30: rgba(244, 162, 97, 0.3);
$orange-alpha-40: rgba(244, 162, 97, 0.4);
$orange-alpha-50: rgba(244, 162, 97, 0.5);
