/* COLOR - TEXT */

--color-text-primary: var(--color-black-800);
  --color-text-secondary: var(--color-black-700);
  --color-text-tertiary: var(--color-black-600);
  --color-text-primary-inverse: var(--color-white-100);
  --color-text-secondary-inverse: var(--color-black-100);
  --color-text-tertiary-inverse: var(--color-black-200);
  --color-text-link: var(--color-blue-500);
  --color-text-link-hover: var(--color-blue-600);
  --color-text-link-pressed: var(--color-blue-700);
  --color-text-negative-pressed: var(--color-red-900);
  --color-text-negative-hover: var(--color-red-700);
  --color-text-negative: var(--color-red-500);
  --color-text-positive-hover: var(--color-green-800);
  --color-text-positive-pressed: var(--color-green-900);
  --color-text-positive: var(--color-green-700);
  --color-text-disabled: var(--color-grey-400);
  --color-text-brand-pressed: var(--color-primary-700);
  --color-text-brand-hovered: var(--color-primary-600);
  --color-text-brand: var(--color-primary-500);
  --color-text-warning-pressed: var(--color-orange-700);
  --color-text-warning-hover: var(--color-orange-600);
  --color-text-warning: var(--color-orange-500);
  --color-text-purple-default: var(--color-tertiary-400);
  --color-text-purple-hovered: var(--color-tertiary-500);
  --color-text-purple-pressed: var(--color-tertiary-600);

/* COLOR - BG */

--color-bg-primary: var(--color-white-100);
  --color-bg-primary-hover: var(--color-grey-100);
  --color-bg-primary-pressed: var(--color-grey-200);
  --color-bg-secondary: var(--color-tertiary-50);
  --color-bg-secondary-hover: var(--color-tertiary-100);
  --color-bg-secondary-pressed: var(--color-tertiary-200);
  --color-bg-neutral: var(--color-grey-200);
  --color-bg-neutral-hover: var(--color-grey-300);
  --color-bg-neutral-pressed: var(--color-grey-400);
  --color-bg-info: var(--color-blue-500);
  --color-bg-info-subtle: var(--color-blue-100);
  --color-bg-negative: var(--color-red-500);
  --color-bg-negative-subtle: var(--color-red-100);
  --color-bg-positive: var(--color-green-600);
  --color-bg-positive-subtle: var(--color-green-100);
  --color-bg-warning-subtle: var(--color-orange-100);
  --color-bg-warning: var(--color-orange-400);
  --color-bg-brand: var(--color-primary-500);
  --color-bg-brand-hover: var(--color-primary-600);
  --color-bg-brand-pressed: var(--color-primary-700);
  --color-bg-disabled: var(--color-grey-alpha-10);
  --color-bg-negative-hovered: var(--color-red-600);
  --color-bg-negative-pressed: var(--color-red-700);
  --color-bg-inverse-pressed: var(--color-black-600);
  --color-bg-inverse-hovered: var(--color-black-700);
  --color-bg-inverse: var(--color-black-800);
  --color-bg-brand-subtle-pressed: var(--color-primary-500);
  --color-bg-brand-subtle-hover: var(--color-primary-100);
  --color-bg-brand-subtle: var(--color-primary-alpha-10);

/* COLOR - ICON */

--color-icon-primary: var(--color-black-900);
  --color-icon-secondary: var(--color-black-700);
  --color-icon-disabled: var(--color-grey-200);
  --color-icon-info: var(--color-blue-500);
  --color-icon-warning: var(--color-orange-500);
  --color-icon-negative: var(--color-red-500);
  --color-icon-positive: var(--color-green-600);
  --color-icon-inverse: var(--color-white-100);
  --color-icon-brand: var(--color-primary-500);

/* COLOR - BORDER */

--color-border-pressed: var(--color-grey-400);
  --color-border-secondary: var(--color-grey-300);
  --color-border-brand: var(--color-primary-500);
  --color-border-primary: var(--color-grey-200);
  --color-border-info: var(--color-blue-500);
  --color-border-warning: var(--color-orange-500);
  --color-border-negative: var(--color-red-500);
  --color-border-positive: var(--color-green-600);
  --color-border-brand-hovered: var(--color-primary-600);
  --color-border-brand-pressed: var(--color-primary-700);
  --color-border-alternative: var(--color-tertiary-50);
  --color-border-disable: var(--color-grey-100);
  --color-border-purple: var(--color-tertiary-300);

/* COLOR - SURFACE */

--color-surface-l0: var(--color-white-100);
  --color-surface-l1: var(--color-primary-alpha-10);
  --color-surface-l2: var(--color-white-60);
  --color-surface-l3: var(--color-white-40);
  --color-surface-l4: var(--color-white-20);

/* COLOR - OVERLAY */

--color-overlay-20: var(--color-white-20);
  --color-overlay-60: var(--color-white-60);
  --color-overlay-inverse-20: var(--color-black-alpha-20);
  --color-overlay-inverse-60: var(--color-black-alpha-60);

/* COLOR - GRAPH */

--color-graph-b1: var(--color-primary-800);
  --color-graph-b2: var(--color-primary-700);
  --color-graph-b3: var(--color-primary-600);
  --color-graph-g3: var(--color-secondary-500);
  --color-graph-g2: var(--color-secondary-600);
  --color-graph-g1: var(--color-secondary-700);
  --color-graph-p3: var(--color-tertiary-300);
  --color-graph-p2: var(--color-tertiary-500);
  --color-graph-p1: var(--color-tertiary-700);
  --color-graph-b0: var(--color-primary-900);
  --color-graph-g0: var(--color-secondary-800);
  --color-graph-p0: var(--color-tertiary-900);
  --color-graph-b4: var(--color-primary-500);
  --color-graph-g4: var(--color-secondary-100);
  --color-graph-b5: var(--color-primary-400);